.imageCardContainer {
    width: 144px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.imageCardContainer>img {
    width: 144px;
    height: 182px;
    border-radius: 10px;
    object-fit: cover;
}

.headdingTopContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.headdingBottomContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 10px;
}

.iconBackground {
    display: flex;
    align-items: center;
    gap: 2px;
}