.headdingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px 10px 16px;
}

.inputContainer {
  padding: 10px 16px 10px 16px;
}

.inputContainer>input {
  width: calc(100% - 20px);
  border: 0px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.horizontalScrollContainer {
  display: flex;
  width: calc(100% - 32px);
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 16px 16px;
}

.horizontalScrollContainer::-webkit-scrollbar {
  display: none;
}

.verticalScrollContainer>h2 {
  padding-left: 16px;
}

.menuItems {
  padding: 16px;
}

.header {
  background: white;
  color: #f1f1f1;
  width: 100%;
}

.header.sticky {
  position: fixed;
  top: 0;
}

.content {
  padding: 16px;
}

.sticky-padding {
  padding-top: 102px;
}


/* menu items */



.menuItems {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}